.search-main-content {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search-bar {
    background-color: #00B7AB;
    width: 40%;
    height: 8%;
    margin: 1.5% auto;
    border-radius: 13px;
    border: 7px solid #3DC8A3;
    text-align: left !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}
.caret {
    margin-left: 1%;
    font-weight: 300;
    font-size: 50px;
    color: #FFFFFF;
    -webkit-animation: 1.5s blink linear infinite;
    animation: 1.6s blink linear infinite;
} 
  @keyframes blink {
    from, to {
      opacity: 0;
    }
      60% {
          opacity: 1;
        }
  }
  @-webkit-keyframes blink {
    from, to {
        opacity: 0;
      }
      60% {
          opacity: 1;
        }
  }
.search-input {
  background: transparent !important;
    border: none;
    outline: none;
    color: white;
    font-size: 3.7rem;
    max-width: inherit;
    vertical-align: middle;
    margin: auto 0;
    width: 100%;
    padding-left: 2%;
}
.autocomplete {
  color: white;
  background-color: #3DC8A3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width:0%;
  overflow:hidden;
  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.autocomplete div {
  padding: 1.5% 3%;
  font-size: 3.2rem;
  font-weight: 300;
  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  transition: width 0.5s linear;
}
.autocomplete div:hover {
  background-color: #00B7AB;
  border-radius: 10px;
}
.autocomplete div:hover:last-child {
  background-color: #00B7AB;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.autocomplete div:hover:first-child {
  background-color: #00B7AB;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.autocomplete div.selected {
  background-color: #00B7AB;
  border-radius: 10px;
}
.autocomplete div.selected:last-child {
  background-color: #00B7AB;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.autocomplete div.selected:first-child {
  background-color: #00B7AB;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}